$secondary-color: #4F4E4E;
$focus-color: #FFBA00;
$major-color: #58B98B;
$border-color: #C5C5C5;

$minor-size: 14px;
$topbar-size: 20px;


@mixin flex() {
    display: flex;
    align-items: center;
}

//가로 space-between
@mixin flex-horizontal-space-between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//세로 space-betwen
@mixin flex-vertical-space-between(){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}